@model ProyectoLavacar.Abstraciones.Modelos.ModuloNomina.NominaCompletaDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NominaCompletaDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdNomina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNomina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoDePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasOrdinarias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasOrdinarias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasExtras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasExtras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasDobles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasDobles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasDispoVacaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasDispoVacaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasUtiliVacaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasUtiliVacaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incapacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incapacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDeContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDeContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAjusteSalarial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAjusteSalarial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonAjuste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonAjuste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonTramite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonTramite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
