@model ProyectoLavacar.Abstraciones.Modelos.ModuloNomina.NominaCompletaDto

@{
    ViewBag.Title = "Details";
}

<h2>Reservas</h2>
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administración de Empleados</title>
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/default.css" rel="stylesheet" />
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/css/slick.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container mt-5 mb-5">
        <div class="card-header bg-gradient-primary text-white">
            <h4 class="mb-0">Detalles de Nómina</h4>
        </div>

        <div class="card shadow-sm rounded-4 mb-4">
            <div class="card-body">
                <h5 class="card-title text-primary">Información del Empleado</h5>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Empleado:</strong> @Model.nombre @Model.primer_apellido @Model.segundo_apellido</p>
                        <p><strong>Cédula:</strong> @Model.cedula</p>
                        <p><strong>Puesto:</strong> @Model.puesto</p>
                        <p><strong>Turno:</strong> @Model.turno</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Teléfono:</strong> @Model.telefono</p>
                        <p><strong>Correo:</strong> @Model.correo</p>
                        <p><strong>Fecha de Pago:</strong> @Model.FechaDePago</p>
                        <p><strong>Periodo de Pago:</strong> @Model.PeriodoDePago</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm rounded-4 mb-4">
            <div class="card-body">
                <h5 class="card-title text-success">Detalle del Salario</h5>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Salario Bruto:</strong> @Model.SalarioBruto</p>
                        <p><strong>Horas Ordinarias:</strong> @Model.HorasOrdinarias</p>
                        <p><strong>Horas Extras:</strong> @Model.HorasExtras</p>
                       
                    </div>
                    <div class="col-md-6">
                        <p><strong>Salario Neto:</strong> @Model.SalarioNeto</p>
                      
                        <p><strong>Días de Vacaciones Disponibles:</strong> @Model.DiasDispoVacaciones</p>
                        <p><strong>Días Utilizados de Vacaciones:</strong> @Model.DiasUtiliVacaciones</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-sm rounded-4 mb-4">
            <div class="card-body">
                <h5 class="card-title text-warning">Ajustes y Otros Detalles</h5>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Bonificaciones:</strong> @Model.totalBono</p>
                        <p><strong>Deducciones:</strong> @Model.totalDedu</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Fecha de Inicio:</strong> @Model.FechaInicio</p>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mb-4">
            <a href="@Url.Action("DescargarPDFDetalle", new { idNomina = Model.IdNomina })" class="btn btn-outline-success btn-action">
                <i class="fas fa-download me-2"></i> Descargar PDF
            </a>
        </div>

        <div class="text-center">
            <a href="@Url.Action("Index", "Nominas")" class="btn btn-outline-secondary btn-lg">
                <i class="fas fa-arrow-left me-2"></i> Volver
            </a>
        </div>
    </div>

    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
</body>

</html>