@model IEnumerable<ProyectoLavacar.Abstraciones.Modelos.ModuloNomina.UnicoEmpleadoDto>

@{
    ViewBag.Title = "Nomina";
}

<h2>Nomina</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdNomina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoDePago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasOrdinarias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasExtras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasDobles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasDispoVacaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasUtiliVacaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundo_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroCuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdNomina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioNeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoDePago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasOrdinarias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasExtras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasDobles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasDispoVacaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasUtiliVacaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primer_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundo_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroCuenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNomina  }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
