@model ProyectoLavacar.Abstraciones.Modelos.ModuloNomina.UnicoEmpleadoDto

@{
    ViewBag.Title = "ProcesarNomina";
}

<h2>ProcesarNomina</h2>

<div>
    <h4>NominaDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDePago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalBono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalBono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalDedu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalDedu)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("ConfimarNomina", "ConfimarNomina", new { idNomina = Model.IdNomina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
