<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Preloader del diseño del lavadero -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Search Modal del diseño del lavadero -->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="form_group">
                        <input type="text" class="form_control" placeholder="Search here...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Header del diseño del lavadero -->
    <header class="header-area header-area-v1">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-10 col-md-12">
                        <div class="header-left">
                            <ul>
                                <li class="text"><span>Lunes-Domingo 9:00 AM - 6:00 PM </span></li>
                                <li class="info"><span><a href="tel:+(506)7285 0302 "><i class="fas fa-phone-alt"></i>+(506) 7285 0302</a></span></li>
                                <li class="info"><span><a href="mailto:lavacarhervi@gmail.com"><i class="far fa-envelope"></i>lavacarhervi@gmail.com</a></span></li>

                            </ul>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="search-box d-flex align-items-center">
                            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("Admin"))
                                {
                                    <!-- Si el usuario es Admin -->
                                    <a href="@Url.Action("MiPerfil", "Usuario")" class="profile-icon mr-3">
                                        <i class="fas fa-user-shield fa-2x" style="color: blue;"></i>
                                        <span>@User.Identity.Name (Admin)</span>
                                    </a>
                                }
                                else if (User.IsInRole("Usuario"))
                                {
                                    <!-- Si el usuario es un Usuario normal -->
                                    <a href="@Url.Action("Perfil", "Usuario")" class="profile-icon mr-3">
                                        <i class="fas fa-user fa-2x" style="color: green;"></i>
                                        <span>@User.Identity.Name</span>
                                    </a>
                                }
                            }
                            else
                            {

                                <a href="@Url.Action("Login", "Account")" class="profile-icon mr-3">
                                    <i class="fas fa-user fa-2x" style="color: red;"></i>
                                </a>
                            }
                            <a href="#" class="search-icon" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search fa-2x" style="color: red;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="brand-logo">
                            <a href="index-2.html"><img src="assets/images/logo/downloadd.jpeg" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-navigation">
            <div class="container">
                <div class="nav-container d-flex align-items-center justify-content-between">
                    <!-- Site Logo -->
                    <div class="brand-logo">
                        <a href="index-2.html"><img src="assets/images/logo/downloadd.jpeg" class="img-fluid" alt=""></a>
                    </div>
                    @Html.ActionLink("HERVI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                        <!-- Nav Menu -->
                        <div class="nav-menu">
                            <!-- Navbar Close Icon -->
                            <div class="navbar-close">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <ul>
                                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li class="menu-item"><a href="service.html">Servicios</a></li>
                                    <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    
                                    <li class="menu-item menu-item-has-children">
                                        <a href="">Perfil</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Perfil", "Perfil", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("PerfilEmpleados", "MiPerfil", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>

                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="">Administrador</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Gestion de Reservas", "Reservas", "Reservas", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Reseñas", "IndexAdmin", "Resenias", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Empleados", "Index", "Empleado", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li><a href="gestionUsuarios.html">Gestión de usuarios</a></li>
                                            <li>@Html.ActionLink("Gestion de Inventario", "Index", "Inventario", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li><a href="gestionVentas.html">Gestión de informes de ventas</a></li>
                                            <li>@Html.ActionLink("Gestion de Reportes", "Index", "Reporte", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Nomina", "Index", "Nomina", new { area = "" }, new { @class = "nav-link" })</li>
                                        </ul>
                                    </li>
                                   

                                </ul> 
                            </nav>
                            <!-- Nav Pushed Item -->
                            <div class="nav-pushed-item">
                                <div class="navbar-btn">
                                    @Html.ActionLink("Reseñas", "Index", "Resenias", new { area = "" }, new { @class = "navbar-brand" })
                                </div>
                            </div>
                        </div>
                        <!-- Nav Push Item -->
                        <div class="nav-push-item">
                            <div class="navbar-btn">
                                @Html.ActionLink("Reservar Cita", "ReservarCita", "Reservas", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                        </div>
                        <!-- Navbar Toggler -->
                        <div class="navbar-toggler">
                            <span></span><span></span><span></span>
                        </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navbar original de la aplicación ASP.NET -->

    <!-- Contenido principal de la aplicación ASP.NET -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>