<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Preloader del diseño del lavadero -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Search Modal del diseño del lavadero -->
    @*<div class="modal fade" id="search-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="form_group">
                        <input type="text" class="form_control" placeholder="Search here...">
                    </div>
                </form>
            </div>
        </div>
    </div>*@

    <!-- Header del diseño del lavadero -->
    <header class="header-area header-area-v1">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-10 col-md-12">
                        <div class="header-left">
                            <ul class="list-unstyled d-flex flex-column flex-md-row align-items-center gap-3">
                                <li class="text">
                                    <a href="~/Views/Home/Index.cshtml">
                                        <img src="~/Content/assets/images/logo/download (7)-Photoroom.png" alt="Logo" width="120" height="auto" class="img-fluid">
                                    </a>
                                </li>
                                <li class="text">
                                    <span>Lunes-Domingo 9:00 AM - 6:00 PM</span>
                                </li>
                                <li class="info">
                                    <span>
                                        <a href="tel:+50672850302">
                                            <i class="fas fa-phone-alt"></i> +(506) 7285 0302
                                        </a>
                                    </span>
                                </li>
                                <li class="info">
                                    <span>
                                        <a href="mailto:lavacarhervi@gmail.com">
                                            <i class="far fa-envelope"></i> lavacarhervi@gmail.com
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div> 
                    <div class="col-lg-2">
                        <div class="search-box d-flex align-items-center justify-content-end">
                            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
                                {
                                    <a href="@Url.Action("MiPerfil", "Usuario")" class="profile-icon mr-3">
                                        <i class="fas fa-user-shield fa-2x" style="color: white;"></i>
                                        <span>@User.Identity.Name</span>
                                    </a>
                                }
                                else if (User.IsInRole("Usuario"))
                                {
                                  
                                    <a href="@Url.Action("Perfil", "Usuario")" class="profile-icon mr-3">
                                        <i class="fas fa-user fa-2x" style="color: white;"></i>
                                        <span>@User.Identity.Name</span>
                                    </a>
                                }
                            }
                            else
                            {

                                <a href="@Url.Action("Login", "Account")" class="profile-icon mr-3">
                                    <i class="fas fa-user fa-2x" style="color: #9AEBA3;"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    @*<div class="col-lg-6">
                        <div class="brand-logo">
                            <a href="index-2.html"><img src="assets/images/logo/downloadd.jpeg" class="img-fluid" alt=""></a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="header-navigation">
            <div class="container-fluid">
                <div class="nav-container d-flex align-items-center justify-content-between">
                    <!-- Site Logo -->
                    @*<div class="brand-logo">
                <a href="index-2.html"><img src="~/Content/assets/images/logo/download (7).jpeg"" class="img-fluid" alt=""></a>
                <img src="~/Content/assets/images/logo/download (7).jpeg" />

            </div>*@
                    @Html.ActionLink("HERVI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Nav Menu -->
                    <div class="nav-menu">
                        <!-- Navbar Close Icon -->
                        <div class="navbar-close">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <ul>
                                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Servicios", "Index", "Servicios", new { area = "" }, new { @class = "nav-link" })</li>

                                <li>@Html.ActionLink("Sobre Nosotros", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Reseñas", "Index", "Resenias", new { area = "" }, new { @class = "nav-link" })</li>

                               
                                @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
                                {
                                    <li class="menu-item menu-item-has-children">
                                        <a href="">Seccion Usuarios</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Gestion de Reservas", "Reservas", "Reservas", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Reseñas", "IndexAdmin", "Resenias", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "nav-link" })</li>

                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="">Seccion Empleados</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Gestion de Empleados", "Index", "Empleado", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Reportes", "Index", "Reporte", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Nomina", "Index", "Nomina", new { area = "" }, new { @class = "nav-link" })</li>
                                        </ul>
                                    </li>

                                    <li class="menu-item menu-item-has-children">
                                        <a href="">Seccion Negocio</a>
                                        <ul class="sub-menu">
                                            <li>@Html.ActionLink("Gestion de Inventario", "Index", "Inventario", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Ventas", "Index", "Compra", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Reportes", "Index", "Reporte", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Gestion de Servicios", "GestionServicios", "Servicios", new { area = "" }, new { @class = "nav-link" })</li>
                                            <li>@Html.ActionLink("Bitacora", "Index", "Bitacora", new { area = "" }, new { @class = "nav-link" })</li>

                                        </ul>
                                    </li>

                                }


                            </ul>
                        </nav>
                        <!-- Nav Pushed Item -->
                        <div class="nav-pushed-item">
                            <div class="navbar-btn">
                                @Html.ActionLink("Reseñas", "Index", "Resenias", new { area = "" }, new { @class = "navbar-brand" })
                            </div>
                        </div>
                    </div>
                    <!-- Nav Push Item -->
                    <div class="nav-push-item">
                        <div class="navbar-btn">
                            @Html.ActionLink("Reservar Cita", "ReservarCita", "Reservas", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </div>
                    <!-- Navbar Toggler -->
                    <div class="navbar-toggler">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navbar original de la aplicación ASP.NET -->

    <!-- Contenido principal de la aplicación ASP.NET -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="footer-area">
            <div class="footer-widget-area pt-110 pb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget quick-link-widget">
                                <h4 class="widget-title">Enlaces rápidos</h4>
                                <ul class="widget-link">
                                    <li><a href="index.html">Inicio</a></li>
                                    <li><a href="service.html">Servicios</a></li>
                                    <li><a href="inicioSesion.html">Inicio Sesión</a></li>
                                    <li><a href="about.html">Sobre Nosotros</a></li>
                                    <li><a href="booking.html">Reserva</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget opening-hours-widget">
                                <h4 class="widget-title">Horario de atención</h4>
                                <div class="info-box">
                                    <p>Lunes - Domingo</p>
                                    <p>9:00 AM - 6:00 PM</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget contact-info-widget">
                                <h4 class="widget-title">Contáctanos</h4>
                                <div class="info-box mb-20">
                                    <p><i class="fas fa-phone-alt"></i><a href="tel:+50672850302">+(506) 7285 0302</a></p>
                                </div>
                                <div class="info-box">
                                    <h5 class="mb-20">Dirección del local</h5>
                                    <p><i class="fas fa-map-marker-alt"></i>San Antonio, Coronado</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bootom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright-text">
                                <p>&copy; @DateTime.Now.Year <span>Hervi</span>. Todos los derechos reservados.</p>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="footer-nav">
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>