@using ProyectoLavacar.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<head>
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/default.css" rel="stylesheet" />
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/css/slick.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" />


</head>


<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow p-4 rounded">
                <h3 class="text-center mb-4">@ViewBag.Title</h3>
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4 class="text-center mb-4" >Utilice una cuenta para iniciar sesión.</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="main-btn btn-block">Iniciar sesión</button>
                                        </div>
                                    </div>
                                    <p class="text-center mt-3">
                                        @Html.ActionLink("Registrarse como usuario nuevo", "Register")
                                    </p>
                                    @* Habilite esta opción una vez tenga la confirmación de la cuenta habilitada para la funcionalidad de restablecimiento de contraseña
                                        <p class="text-center">
                                            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                                        </p>*@
                                }
                            </section>
                        </div>
                    </div>
            </div>
</body>

<!--====== Jquery js ======-->

<script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/popper.min.js"></script>

<!--====== Slick js ======-->

<script src="~/Content/assets/js/slick.min.js"></script>

<!--====== Counterup js ======-->

<script src="~/Content/assets/js/jquery.counterup.min.js"></script>
<!--====== Waypoints js ======-->

<script src="~/Content/assets/js/waypoints.min.js"></script>
<!--====== Magnific Popup js ======-->

<script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
<!--====== Isotope js ======-->

<script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
<!--====== Imagesloaded js ======-->

<script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
<!--====== WoW js ======-->

<script src="~/Content/assets/js/wow.min.js"></script>
<!--====== Main js ======-->

<script src="~/Content/assets/js/main.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
