@model ProyectoLavacar.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>Cash4Junk – Car Wash HTML Template</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/fonts/fontawesome/css/all.min.css">
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!--====== Animate css ======-->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!--====== Start Header ======-->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--====== End Header ======-->
    <!--====== Search From ======-->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="form_group">
                        <input type="text" class="form_control" placeholder="Search here...">
                    </div>
                </form>
            </div>
        </div>
    </div><!--====== Search From ======-->
    <!--====== Start Header ======-->
    <header class="header-area header-area-v1">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-10 col-md-12">
                        <div class="header-left">
                            <ul>
                                <li class="text"><span>Lunes-Domingo 9:00 AM - 6:00 PM </span></li>
                                <li class="info">
                                    <span>
                                        <a href="tel:+(506)7285 0302 ">
                                            <i class="fas fa-phone-alt"></i>+(506) 7285 0302
                                        </a>
                                    </span>
                                </li>
                                <li class="info">
                                    <span>
                                        <a href="lavacarhervi@gmail.com  ">
                                            <i class="far fa-envelope"></i>lavacarhervi@gmail.com
                                        </a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="search-box d-flex align-items-center">

                            <a href="inicioSesion.html" class="profile-icon mr-3">
                                <i class="fas fa-user fa-2x"
                                   style="color: red;"></i>
                            </a>

                            <a href="#" class="search-icon" data-toggle="modal" data-target="#search-modal">
                                <i class="fas fa-search fa-2x" style="color: red;"></i>
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="brand-logo">
                            <a href="index-2.html">
                                <img src="assets/images/logo/downloadd.jpeg" class="img-fluid"
                                     alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-navigation">
            <div class="container">
                <div class="nav-container d-flex align-items-center justify-content-between">
                    <!-- site logo -->
                    <div class="brand-logo">
                        <a href="index-2.html">
                            <img src="assets/images/logo/downloadd.jpeg" class="img-fluid"
                                 alt="">
                        </a>
                    </div>
                    <div class="nav-menu">
                        <!-- Navbar Close Icon -->
                        <div class="navbar-close">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- nav-menu -->
                        <nav class="main-menu">
                            <ul>

                                <li class="menu-item ">
                                    <a href="index-2.html">Inicio</a>

                                </li>
                                <li class="menu-item ">
                                    <a href="about.html">Sobre Nosotros</a>


                                </li>
                                <li class="menu-item">
                                    <a href="service.html">Servicios</a>

                                </li>

                                <li class="menu-item">
                                    <a href="contact.html">Contáctanos</a>
                                    <ul class="sub-menu">
                                    </ul>
                                <li class="menu-item menu-item-has-children">
                                    <a href="">Perfil</a>
                                    <ul class="sub-menu">
                                        <li><a href="perfilUsuario.html">Perfil de usuario</a></li>
                                        <li><a href="perfilEmpleado.html">Perfil de empleados</a></li>


                                    </ul>
                                </li>

                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="">Administrador</a>
                                    <ul class="sub-menu">
                                        <li><a href="gestionReserva.html">Gestión de reserva</a></li>
                                        <li><a href="gestionReseñas.html">Gestión de reseñas</a></li>
                                        <li><a href="gestionEmpleado.html">Gestión de empleados</a></li>
                                        <li><a href="gestionUsuarios.html">Gestión de usuarios</a></li>
                                        <li><a href="gestionInventario.html">Gestión de inventario</a></li>
                                        <li><a href="gestionVentas.html">Gestión de informes de ventas</a></li>
                                        <li><a href="gestionReportes.html">Gestión de reportes</a></li>
                                        <li><a href="gestionNomina.html">Gestión de Nomina</a></li>



                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- nav pushed item -->
                        <div class="nav-pushed-item">
                            <div class="navbar-btn">
                                <a href="contact.html" class="main-btn">Get A Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- nav push item -->
                    <div class="nav-push-item">
                        <div class="navbar-btn">
                            <a href="booking.html" class="main-btn">Reservar Cita</a>
                        </div>
                    </div>
                    <!-- Navbar Toggler -->
                    <div class="navbar-toggler">
                        <span></span><span></span><span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main aria-labelledby="title">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="mb-0">@ViewBag.Title</h2>
            </div>
            <div class="bg-white p-4 rounded shadow-lg">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Restablezca la contraseña.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.token)

                    <!-- Campo de correo -->
                    <div class="form-group mb-4">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Ingresa tu correo electrónico" })
                        </div>
                    </div>

                    <!-- Campo de nueva contraseña -->
                    <div class="form-group mb-4">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Ingresa tu nueva contraseña" })
                        </div>
                    </div>

                    <!-- Campo de confirmar nueva contraseña -->
                    <div class="form-group mb-4">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirma tu nueva contraseña" })
                        </div>
                    </div>

                    <!-- Botón de envío -->
                    <div class="text-center mt-4 mb-5">
                        <input type="submit" class="btn btn-danger btn-lg" value="Restablecer Contraseña" />
                    </div>
                }
            </div>
        </div>
    </main>
    <footer class="footer-area">
        <div class="footer-top pt-40 pb-40">
            <div class="container">

            </div>
        </div>
        <div class="footer-widget-area pt-110 pb-110">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget quick-link-widget">
                            <h4 class="widget-title">Enlaces rápidos</h4>
                            <ul class="widget-link">
                                <li><a href="inicioSesion.html">inicio Sesion</a></li>
                                <li><a href="about.html">Sobre Nosotros</a></li>
                                <li><a href="booking.html">Rerserva</a></li>

                                <li><a href="contact.html">Contáctanos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget opening-hours-widget">
                            <h4 class="widget-title">Horario de atención</h4>
                            <div class="info-box">
                                <p>Lunes - Domingo</p>
                                <p>9:00 AM - 6:00 PM</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget contact-info-widget">
                            <h4 class="widget-title">Contáctanos</h4>
                            <div class="info-box mb-20">
                                <p><i class="fas fa-phone-alt"></i><a href="tel:+0123456789">+(506) 7285 0302 </a></p>
                            </div>
                            <div class="info-box">
                                <h5 class="mb-20">Dirección del local</h5>
                                <p><i class="fas fa-map-marker-alt"></i>San Antonio, Coronado<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bootom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright-text">
                            <p>2021 <span>Hervi</span>. Todos los derechos reservados.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-nav">
                            <ul>
                                <li><a href="index-2.html">Inicio</a></li>
                                <li><a href="service.html">Servicios</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--====== End Footer ======-->
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--====== Jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    <!--====== Counterup js ======-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--====== Waypoints js ======-->
    <script src="assets/js/waypoints.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== Isotope js ======-->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!--====== Imagesloaded js ======-->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!--====== WoW js ======-->
    <script src="assets/js/wow.min.js"></script>
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
}
