@model ProyectoLavacar.Abstraciones.Modelos.ModuloReservas.ReservaCompleta

@{
    ViewBag.Title = "DetallesReserva";
}



<h2>Reservas</h2>
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administración de Empleados</title>
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/default.css" rel="stylesheet" />
    <link href="~/Content/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/css/slick.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/flaticon/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <h2>DetallesReserva</h2>

    <div>
 
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.idReserva)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idReserva)
            </dd>

          


            <dt>
                @Html.DisplayNameFor(model => model.nombreCliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombreEmpleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombreServicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreServicio)
            </dd>

         

            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.hora)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hora)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>

        </dl>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
</body>

</html>