@model ProyectoLavacar.Abstraciones.Modelos.ModuloCompra.CompraDto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Compra</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div id="nombreCliente" class="alert alert-info" style="display: none;"></div>


    <div class="form-group">
        @Html.LabelFor(model => model.idCliente, "Buscar por Cédula", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="number" name="numeroCedula" id="numeroCedula" class="form-control" />
            <button type="button" id="buscarCliente" class="btn btn-primary mt-2">Buscar Cliente</button>
            @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
        </div>
    </div>


    @foreach (var servicio in ViewBag.Servicios)
    {
        // Si Model.listaServicios es nulo, usar una lista vacía
        var listaServicios = Model?.listaServicios ?? new List<int>();

        bool isChecked = listaServicios.Contains(servicio.idServicio);
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="listaServicios" value="@servicio.idServicio" id="servicio_@servicio.idServicio" @(isChecked ? "checked" : "") />
            <label class="form-check-label" for="servicio_@servicio.idServicio">@servicio.nombre</label>
        </div>
    }






    <div class="form-group">
        @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fecha, new { @class = "form-control", type = "date", required = "required" })
            @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DescripcionServicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescripcionServicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescripcionServicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                <!-- Verificar si el modelo no es nulo antes de acceder a Model.Total -->
                <input type="text" class="form-control" id="Total" name="Total" value="@(Model?.Total ?? 0)" readonly />
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver a la lista
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            
            $("#buscarCliente").click(function () {
                var cedula = $("#numeroCedula").val();
                if (cedula === "") {
                    alert("Por favor, ingrese una cédula.");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("BuscarClientePorCedula", "Compra")',
                    type: 'GET',
                    data: { numeroCedula: cedula },
                    success: function (response) {
                        if (response.success) {
                            $("#nombreCliente").text("Cliente encontrado: " + response.nombre + " " + response.apellido).show();
                        } else {
                            $("#nombreCliente").text("No se encontró un cliente con esa cédula.").show();
                        }
                    },
                    error: function () {
                        alert("Ocurrió un error al buscar el cliente.");
                    }
                });
            });

            
           
        });
    </script>

    <script>
        $(document).ready(function () {
  
    function calcularTotal() {
        var total = 0;

     
        $("input[name='listaServicios']:checked").each(function () {
            var servicioId = $(this).val();

         
            $.ajax({
                url: '@Url.Action("ObtenerPrecioServicio", "Compra")', 
                type: 'GET',
                data: { idServicio: servicioId },
                success: function (response) {
                    if (response.success) {
                      
                        total += parseFloat(response.precio);
                    }

                    
                    $("#Total").val(total.toFixed(2)); 
                },
                error: function () {
                    alert("Ocurrió un error al obtener el precio del servicio.");
                }
            });
        });
    }

    // Ejecutar el cálculo cuando se marque o desmarque un checkbox
    $("input[name='listaServicios']").change(function () {
        calcularTotal();
    });

    // Llamar al calcular total cuando se cargue la página por primera vez
    calcularTotal();
});


    </script>

}
