@model ProyectoLavacar.Abstraciones.Modelos.ModeloInventario.MovimientoDto

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>MovimientoDto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group mb-4">
        @Html.LabelFor(model => model.idProducto, "Nombre Producto", htmlAttributes: new { @class = "control-label" })

        @if (ViewBag.Productos is string message)
        {
            <p>@message</p>
        }
        else
        {
            @Html.DropDownListFor(model => model.idProducto,
                new SelectList(ViewBag.Productos, "idProducto", "nombre"),
                "Seleccione un producto",
                new { @class = "form-control" })
        }

        @Html.ValidationMessageFor(model => model.idProducto, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.nombre,
                new SelectList(ViewBag.Nombres, "Value", "Text"),
                "-- Seleccione un nombre --",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
