@model IEnumerable<ProyectoLavacar.Abstraciones.Modelos.ModuloReseñas.ReseniaDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idResenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idResenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.calificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
